$enable-gradients: true;

$theme-colors: (
        'primary': #0055CD
);

@import "../bootstrap/scss/bootstrap";

$gradients: #007BFF #001F87,
#2096ff #05ffa3,
#ffd86f #fc6262,
#e96443 #904e95,
#30cfd0 #330867,
#2196f3 #f44336,
#e99f43 #b00020;


.table tr {
  cursor: pointer;
}

@for $i from 1 through length($gradients) {
  $name: if($i == 1, '', '-'+($i - 1));
  $gradient: linear-gradient(45deg, nth(nth($gradients, $i), 1), nth(nth($gradients, $i), 2));

  .btn-gradient#{$name} {
    color: #fff;
    background: $gradient;
    border: 0;

    &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active {
      color: white;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
    }

    &:focus, &.focus {
      box-shadow: 0 0 0 0.2rem rgba(38, 111, 213, 0.5);
    }
  }

  .bg-gradient#{$name} {
    background: $gradient;
  }

  .text-gradient#{$name} {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@include media-breakpoint-down(sm) {
  .nav-tabs .nav-link.active {
    border-bottom: 1px solid #dee2e6 !important;
  }
}

// Pulsante esapnsione in tables centrato
table.dataTable.dtr-inline.collapsed tr td:first-child:before {
  top: 0 !important;
  bottom: 0 !important;
  margin: auto !important;
}

// Impostazioni per stampa
@media print {
  html{
    font-size: 1.8em;
  }
  .qr-img{
    width: 400px;
    height: 400px;
  }
}



