<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- SERVLET -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StatisticheServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.StatisticheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.handler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/app/logout.handler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/app/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Choose</servlet-name>
        <jsp-file>/choose.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Choose</servlet-name>
        <url-pattern>/app/choose</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChooseServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.ChooseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChooseServlet</servlet-name>
        <url-pattern>/app/choose.handler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Settings</servlet-name>
        <jsp-file>/settings.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/app/paziente/settings</url-pattern>
        <url-pattern>/app/medico/settings</url-pattern>
        <url-pattern>/app/medico_spec/settings</url-pattern>
        <url-pattern>/app/ssp/settings</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SettingsServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.SettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingsServlet</servlet-name>
        <url-pattern>/app/paziente/settings.handler</url-pattern>
        <url-pattern>/app/medico/settings.handler</url-pattern>
        <url-pattern>/app/medico_spec/settings.handler</url-pattern>
        <url-pattern>/app/ssp/settings.handler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PasswordRecovery</servlet-name>
        <jsp-file>/password_recovery.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PasswordRecovery</servlet-name>
        <url-pattern>/password_recovery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.PasswordRecoveryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <url-pattern>/password_recovery.handler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Error</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VisiteServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.VisiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisiteSpecialisticheServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.VisiteSpecialisticheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrenotazioniServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.PrenotazioniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EsamiServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.EsamiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicetteServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.RicetteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PazientiServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.PazientiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MediciServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.MediciServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MediciSpecialistiServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.MediciSpecialistiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettagliUtenteServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.DettagliUtenteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DettagliUtenteServlet</servlet-name>
        <url-pattern>/app/paziente/dettagli_utente/*</url-pattern>
        <url-pattern>/app/medico/dettagli_utente/*</url-pattern>
        <url-pattern>/app/medico_spec/dettagli_utente/*</url-pattern>
        <url-pattern>/app/ssp/dettagli_utente/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediciServlet</servlet-name>
        <url-pattern>/app/paziente/medici</url-pattern>
        <url-pattern>/app/ssp/medici</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediciSpecialistiServlet</servlet-name>
        <url-pattern>/app/paziente/medici_specialisti</url-pattern>
        <url-pattern>/app/ssp/medici_specialisti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PazientiServlet</servlet-name>
        <url-pattern>/app/medico/pazienti</url-pattern>
        <url-pattern>/app/medico_spec/pazienti</url-pattern>
        <url-pattern>/app/ssp/pazienti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicetteServlet</servlet-name>
        <url-pattern>/app/paziente/ricette</url-pattern>
        <url-pattern>/app/medico/ricette</url-pattern>
        <url-pattern>/app/medico_spec/ricette</url-pattern>
        <url-pattern>/app/ssp/ricette</url-pattern>
        <!-- MAGARI PER STATS. -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EsamiServlet</servlet-name>
        <url-pattern>/app/paziente/esami</url-pattern>
        <url-pattern>/app/medico/esami</url-pattern>
        <url-pattern>/app/medico_spec/esami</url-pattern>
        <url-pattern>/app/ssp/esami</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrenotazioniServlet</servlet-name>
        <url-pattern>/app/paziente/prenotazioni</url-pattern>
        <url-pattern>/app/medico/prenotazioni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisiteSpecialisticheServlet</servlet-name>
        <url-pattern>/app/paziente/visite_specialistiche</url-pattern>
        <url-pattern>/app/ssp/visite_specialistiche</url-pattern>
        <url-pattern>/app/medico/visite_specialistiche</url-pattern>
        <url-pattern>/app/medico_spec/visite_specialistiche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisiteServlet</servlet-name>
        <url-pattern>/app/paziente/visite</url-pattern>
        <url-pattern>/app/medico/visite</url-pattern>
        <url-pattern>/app/medico_spec/visite</url-pattern>
        <url-pattern>/app/ssp/visite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisiteServlet</servlet-name>
        <url-pattern>/app/medico/new_visite</url-pattern>
        <url-pattern>/app/medico_spec/new_visite</url-pattern>
        <url-pattern>/app/paziente/new_visite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicetteServlet</servlet-name>
        <url-pattern>/app/medico/new_ricette</url-pattern>
        <url-pattern>/app/medico/compila_ricetta</url-pattern>
        <url-pattern>/app/medico_spec/compila_ricetta</url-pattern>
        <url-pattern>/app/paziente/compila_ricetta</url-pattern>
        <url-pattern>/app/ssp/compila_ricetta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisiteSpecialisticheServlet</servlet-name>
        <url-pattern>/app/medico/new_visite_specialistiche</url-pattern>
        <url-pattern>/app/medico/compila_visita_spec</url-pattern>
        <url-pattern>/app/medico_spec/compila_visita_spec</url-pattern>
        <url-pattern>/app/paziente/compila_visita_spec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EsamiServlet</servlet-name>
        <url-pattern>/app/medico/new_esami</url-pattern>
        <url-pattern>/app/medico/compila_esame</url-pattern>
        <url-pattern>/app/medico_spec/compila_esame</url-pattern>
        <url-pattern>/app/paziente/compila_esame</url-pattern>
    </servlet-mapping>
    <!-- SESSIONE -->
    <servlet-mapping>
        <servlet-name>StatisticheServlet</servlet-name>
        <url-pattern>/app/paziente/stats</url-pattern>
        <url-pattern>/app/medico_spec/stats</url-pattern>
        <url-pattern>/app/medico/stats</url-pattern>
        <url-pattern>/app/ssp/stats</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- FILTERS -->
    <filter>
        <filter-name>AppFilter</filter-name>
        <filter-class>it.unitn.disi.azzoiln_carretta_destro.filters.AppFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NoJspFilter</filter-name>
        <filter-class>it.unitn.disi.azzoiln_carretta_destro.filters.NoJspFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PazienteFilter</filter-name>
        <filter-class>it.unitn.disi.azzoiln_carretta_destro.filters.PazienteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MedicoFilter</filter-name>
        <filter-class>it.unitn.disi.azzoiln_carretta_destro.filters.MedicoFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SspFilter</filter-name>
        <filter-class>it.unitn.disi.azzoiln_carretta_destro.filters.SspFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AppFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SspFilter</filter-name>
        <url-pattern>/app/ssp/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MedicoFilter</filter-name>
        <url-pattern>/app/medico/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PazienteFilter</filter-name>
        <url-pattern>/app/paziente/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoJspFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>it.unitn.disi.azzoiln_carretta_destro.listeners.AppListener</listener-class>
    </listener>
    <!-- PARAMETRI -->
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://localhost:3306/prog_web?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>user_prog_web</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>sampirisi</param-value>
    </context-param>
    <context-param>
        <description>URL per web service per ottenere elenco farmaci</description>
        <param-name>url_farmaci_rest</param-name>
        <param-value>app/services/farmaci/</param-value>
    </context-param>
    <context-param>
        <param-name>url_visite_spec_rest</param-name>
        <param-value>app/services/visite_spec/</param-value>
    </context-param>
    <context-param>
        <param-name>url_esami_rest</param-name>
        <param-value>app/services/esami/</param-value>
    </context-param>
    <context-param>
        <param-name>photo_dir_name</param-name>
        <param-value>profile_photos</param-value>
    </context-param>
    <!-- ERROR PAGES -->
    <error-page>
        <location>/error.jsp</location>
    </error-page>
</web-app>
