<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- SERVLET -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicetteServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.RicetteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.handler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Ricette</servlet-name>
        <jsp-file>/ricette.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ChooseServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.ChooseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/app/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ricette</servlet-name>
        <url-pattern>/include/ricette.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChooseServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.ChooseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Choose</servlet-name>
        <jsp-file>/choose.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Choose</servlet-name>
        <url-pattern>/app/choose</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Settings</servlet-name>
        <jsp-file>/settings.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/app/settings</url-pattern>
    </servlet-mapping>

    <!-- SESSIONE -->
    <servlet-mapping>
        <servlet-name>ChooseServlet</servlet-name>
        <url-pattern>/app/choose.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/app/logout.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicetteServlet</servlet-name>
        <url-pattern>/app/ricette</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- FILTERS -->
    <filter>
        <filter-name>AppFilter</filter-name>
        <filter-class>it.unitn.disi.azzoiln_carretta_destro.filters.AppFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NoJspFilter</filter-name>
        <filter-class>it.unitn.disi.azzoiln_carretta_destro.filters.NoJspFilter</filter-class>
    </filter>
    <!-- LISTENERS -->
    <filter-mapping>
        <filter-name>NoJspFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AppFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>it.unitn.disi.azzoiln_carretta_destro.listeners.AppListener</listener-class>
    </listener>
    <!-- PARAMETRI -->
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://localhost:3306/prog_web?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>user_prog_web</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>sampirisi</param-value>
    </context-param>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Include files</web-resource-name>
            <description>No direct access to include files.</description>
            <url-pattern>/include/ricette.jsp</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>No direct browser access to include files.</description>
            <role-name>NobodyHasThisRole</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
