<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- SERVLET -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.handler</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/app/logout.handler</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/app/home</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Choose</servlet-name>
        <jsp-file>/choose.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Choose</servlet-name>
        <url-pattern>/app/choose</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ChooseServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.ChooseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChooseServlet</servlet-name>
        <url-pattern>/app/choose.handler</url-pattern>
    </servlet-mapping>

   

    <servlet>
        <servlet-name>Settings</servlet-name>
        <jsp-file>/settings.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/app/settings</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Error</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Visite</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.VisiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisiteSpecialisticheServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.VisiteSpecialisticheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrenotazioniServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.PrenotazioniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EsamiServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.EsamiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicetteServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.RicetteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PazientiServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.PazientiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MediciServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.MediciServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PazienteDetailsServlet</servlet-name>
        <servlet-class>it.unitn.disi.azzoiln_carretta_destro.servlet.PazienteDettagliServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PazienteDetailsServlet</servlet-name>
        <url-pattern>/app/dettagli_paziente/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediciServlet</servlet-name>
        <url-pattern>/app/medici</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PazientiServlet</servlet-name>
        <url-pattern>/app/pazienti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicetteServlet</servlet-name>
        <url-pattern>/app/ricette</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EsamiServlet</servlet-name>
        <url-pattern>/app/esami</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrenotazioniServlet</servlet-name>
        <url-pattern>/app/prenotazioni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisiteSpecialisticheServlet</servlet-name>
        <url-pattern>/app/visite_specialistiche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Visite</servlet-name>
        <url-pattern>/app/visite</url-pattern>
    </servlet-mapping>

    <!-- SESSIONE -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- FILTERS -->
    <filter>
        <filter-name>AppFilter</filter-name>
        <filter-class>it.unitn.disi.azzoiln_carretta_destro.filters.AppFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NoJspFilter</filter-name>
        <filter-class>it.unitn.disi.azzoiln_carretta_destro.filters.NoJspFilter</filter-class>
    </filter>

    <filter-mapping>
        <description>Per evitare che un utente vada su una pagina con l'estensione del file esplicita e per impedire quindi di acccedere direttamente a pagine usate solo per 
            essere incluse in altre per formare pagine più complesse
        </description>
        <filter-name>NoJspFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AppFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <!-- LISTENERS -->
    <listener>
        <listener-class>it.unitn.disi.azzoiln_carretta_destro.listeners.AppListener</listener-class>
    </listener>
    <!-- PARAMETRI -->
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://localhost:3306/prog_web?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>user_prog_web</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>sampirisi</param-value>
    </context-param>
    
    <error-page>
        <location>/error.jsp</location>
    </error-page>
</web-app>
